body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    max-width: 968px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    font-family: Arial;
}

.container:first-child {
    text-align: center;
}

.auth-form {
    display: inline-block;
    margin: 0 auto;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 4px;
    text-align: right;
}

.field {
    margin-bottom: 1rem;
}

.field:last-child {
    margin-bottom: 0;
}

.field>input {
    border: 0;
    border-radius: 4px;
    padding: 5px;
}

.field:last-child>button {
    padding: 10px;
    color: #fff;
    background-color: purple;
    border: 0;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}

.field:last-child>button:hover {
    background-color: blue;
}

.field:last-child {
    text-align: center;
}

.main-modal {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.inner-modal {
    width: 500px;
    height: 300px;
    background-color: lightblue;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-close {
    align-self: flex-start;
}